.nav_rght_acct{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 9rem;
    align-items: flex-start;
    /* align-content: center; */
    flex-wrap: wrap;
    padding: 0.5rem;
    margin: 0.4rem;
    
}

.nav_rght_acct:hover{
    border: 2px solid #d9d9d9;
    border-radius: 1px;

}

.nav_rght_acct span{
    /* height: 1rem; */
    width: 7rem;
    font-family: roboto;
    padding-left: 5px;
    color: #d9d9d9;
    font-size: 0.75rem;
    /* flex */
}

.nav_rght_acct select{
    width: 7.9rem;
    height: 1rem;
    /* align-self: flex-start; */
    font-size: 0.85rem;
    font-weight: 600;
}

.rght_nav_orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    color: white;
    font-family: roboto;
    box-sizing: border-box;
    width: 5.3rem;
    padding:5px;
    margin: 0.5rem;
}

.rght_nav_orders span{
    font-size: 0.78rem;
    width: 4rem;
    color: #d9d9d9;
    padding-left: 4px;
}

.rght_nav_orders div{
    font-size: 0.89rem;
    font-weight: 600;
    width: 4rem;
    padding-left: 4px;
}

.rght_nav_orders:hover{
    outline: 2px solid #d9d9d9;
    padding: 4px;
}

.rght_nav_cart{
    display: flex;
    /* width: 4rem; */
    padding: 5px;
}

.rght_nav_cart:hover{
    outline: 2px solid #d9d9d9;
}

.rght_nav_cart span{
    font-size: 2.3rem;
    color: white;
}

.rght_nav_cart div{
    color: #fff;
    align-self: flex-end;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.nav_2{
    width: 100vw;
    height: 40px;
    background-color: #232f3e;
    display: flex;
}

.nav_2 .nav_2_sub{
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.nav2_all{
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4.5px 2px;
    /* justify-content: ; */
}

.nav2_all:hover{
    outline: 1.8px solid #d9d9d9;
}

.nav2_all span{
    font-size: 1.8rem;
}

.nav2_all div{
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

.nav2_deals{
    width: 12%;
    color: white;
    font-family: roboto;
    padding: 9px 8px;
    font-size: 0.93rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #91f6fe;
}

.nav2_deals:hover{
    outline: 1.8px solid #d9d9d9;
    border-radius: 1px;
}

.nav2_books{
    display: flex;
    width: 6%;
    justify-content: center;
}

.nav2_books div{
    /* width: 7%; */
    padding: 9px;
    font-family: roboto;
    font-size: 0.9rem;
}

.nav2_books:hover{
    outline: 1.8px solid #d9d9d9;
}

.nav2_mini{
    width: 11%;
    font-family: roboto;
    font-size: 0.9rem;
    padding: 9px;
}

.nav2_mini:hover{
    border: 1.8px solid #d9d9d9;
}

.nav2_sell{
    width: 5%;
    font-family: roboto;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 9px 5px;
    box-sizing: border-box;
}

.nav2_sell:hover{
    border: 1.8px solid #d9d9d9;
}

.nav2_baby{
    font-size: 0.9rem;
    width: 5%;
    font-family: roboto;
    padding: 9px;
    display: flex;
    justify-content: center;
}

.nav2_baby:hover{
    outline: 1.8px solid #d9d9d9;
}

.nav2_gifts{
    width: 8%;
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-size: 0.9rem;
    padding: 9px 0;
}

.nav2_gifts:hover{
    outline: 1.8px solid #d9d9d9;

}

.nav2_buy{
    width: 8%;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    font-family: roboto;
    padding: 9px 0;
}

.nav2_buy:hover{
    outline: 1.8px solid #d9d9d9;
}

.nav2_grocery{
    width: 17%;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    font-family: roboto;
    padding: 9px 0;
}

.nav2_grocery:hover{
    outline: 1.8px solid #d9d9d9;
}

.nav_2_2{
    width: 25%;
    display: flex;
    justify-content: center;
}

.nav_2_2 img{
    width: 6rem;
    height: 3rem;
}